/* Header and Footer Styling */
.nav-bar,
.link-bar {
    background-color: white;
    padding: 0 20px;
}

.nav-bar {
    height: 8rem;
}

.link-bar {
    height: 6rem;
}

div.nav-bar,
div.link-bar {
    align-items: center;
}

.transparentlogo {
    height: 60px;
    width: auto;
    max-width: 100%;
    padding-left: 10px;
}

.header-navs .nav,
.footer-navs .nav {
    justify-content: end;
    flex-wrap: wrap;
    text-align: center;
    gap: 1.5rem;
}

.nav-link,
.footer-link {
    color: #1a1b1f;
    font-family: "Altone";
}

.nav-link {
    font-size: 20px;
}

.footer-link {
    font-size: 18px;
    text-decoration: none;
}

.active {
    color: #ff0040;
    font-size: 20px;
    font-family: "Altone";
}

/* Body Styling */
body {
    background-color: #f2f0f0;
}

.about-body {
    padding-top: 8rem;
    padding-bottom: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.photo {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 2rem;
}

.myPhoto {
    max-width: 90%;
    height: auto;
    justify-content: center;
}

.name-block {
    display: inline-block;
    text-align: left;
}

h1.name {
    font-family: "Montserrat";
    text-decoration: underline;
    font-size: 40px;
    font-weight: 400;
}

h1.project-title {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 2rem;
}

h2.why {
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 400;
}

h3.built-with {
    font-family: "Montserrat";
    font-size: 20px;
    color: #1a1b1f;
    font-weight: 400;
}

.subtitle {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 0.2em;
    color: #4c4c4c;
    padding-bottom: 5px;

    line-height: 10px;
    margin-right: -0.2em;
    /* cancels trailing space */
    white-space: nowrap;
}

p {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    color: #575757;
    line-height: 28px;
}

p.projects {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    color: #4a4a4a
}

.work-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

iframe {
    margin-top: 1rem;
}
.github-repo {
    background-color: #ff294c;
    padding: 10px;
    font-family: "Montserrat";
    border-radius: 15px;
    color: white;
    margin-top: 2rem;
}

.github-repo:hover {
    background-color: #dc2342;
    padding: 10px;
    font-family: "Montserrat";
    border-radius: 15px;
    color: rgb(223, 223, 223);
}

.carousel {
    margin-top: 4rem;
}
pre[class*="language-"],
code[class*="language-"] {
    font-size: 12px;
}

.carousel-item pre {
    padding: 1rem;
    overflow-x: auto;
}

pre[class*="language-"] {
    line-height: 1.35;
}

#scCarousel,
#rjCarousel,
#arCarousel,
#cgCarousel {
    width: 100%;

}

.contact {
    margin-left: 2rem;
    margin-right: 2rem;
}

.contact h3 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 35px;
}

.form-label {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    color: #4a4a4a;
}

.form-element {
padding-bottom: 1rem;
}

.star {
    color: #d10000;
    font-weight: 500;
}

.form-element .btn {
    margin-bottom: 1rem;
    background-color: #414141;
}

@font-face {
    font-family: "Altone";
    src: url(Content/Fonts/AltoneTrial-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(Content/Fonts/Montserrat-Medium.otf);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(Content/Fonts/Montserrat-Regular.otf);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(Content/Fonts/Montserrat-Light.otf);
    font-weight: 300;
    font-display: swap;
}